{% extends 'base.html.twig' %}

{% block title %}Gite index
{% endblock %}

{% block body %}
	<h1>Gite index</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nom du gîte</th>
				<th>Description</th>
				<th>Adresse</th>
				<th>Ville</th>
				<th>Code Postal</th>
				<th>Departement</th>
				<th>Région</th>
				<th>Surface</th>
				<th>Nombre de pièces</th>
				<th>Nombre de lits</th>
				<th>Animaux authorisé ?</th>
				<th>Cout pour les animaux</th>
				<th>Prix basse saison</th>
				<th>Prix haute saison</th>
				<th>Début haute saison</th>
				<th>Fin haute saison</th>
				<th>Crée le</th>
				<th>Modifié le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for gite in gites %}
				<tr>
					<td>{{ gite.name  }}</td>
					<td>{{ gite.description }}</td>
					<td>{{ gite.address }}</td>
					<td>{{ gite.city }}</td>
					<td>{{ gite.zipcode }}</td>
					<td>{{ gite.departement }}</td>
					<td>{{ gite.region }}</td>
					<td>{{ gite.surface }}</td>
					<td>{{ gite.rooms }}</td>
					<td>{{ gite.beds }}</td>
					<td>{{ gite.animalAllowed ? 'Yes' : 'No' }}</td>
					<td>{{ gite.animalFee }}</td>
					<td>{{ gite.greenPrice }}</td>
					<td>{{ gite.redPrice }}</td>
					<td>{{ gite.startRed ? gite.startRed|date('d M Y') : '' }}</td>
					<td>{{ gite.endRed ? gite.endRed|date('d M Y') : '' }}</td>
					<td>{{ gite.createdAt ? gite.createdAt|date('d M Y') : '' }}</td>
					<td>{{ gite.updateAt ? gite.updateAt|date('d-m-Y H:i') : '' }}</td>
					<td>
						<a class="btn btn-primary mb-3 mx-2" href="{{ path('app_gite_show', {'id': gite.id}) }}">Détails</a>
						<a class="btn btn-warning mb-3 mx-2" href="{{ path('app_gite_edit', {'id': gite.id}) }}">Modifier</a>

						{% include "gite/_delete_form.html.twig" %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="20">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_gite_new') }}">Create new</a>
{% endblock %}
